# Usage examples

In [ ]:
import catnet

## Create networks from literature review tables

### Example 1: Literature review data table with a "long" format

A long dataframe contains one entry of the category variable in one row. For instance, you can see that the following table, `long_df`, has an `impact_cats` columns. In this example, `impact_cats` is the variable to be transformed into a network. Note that for each id (`publication` column), there are many rows, each containing a different `impact_cats` value.

In [ ]:
long_df = catnet.test_data(dataset="long")

long_df.head(5)

,publication,year,title,impact,impact_cats,other_info
0,Kumar-Reddy (2004),2005,The Role of Gender in Urban Mobility Sustainab...,Significant mobility improvements for women in...,Environmental impact,[additional data may be available]
1,Kumar-Reddy (2004),2005,The Role of Gender in Urban Mobility Sustainab...,Significant mobility improvements for women in...,Decreased travel time,[additional data may be available]
2,Kumar-Reddy (2004),2005,The Role of Gender in Urban Mobility Sustainab...,Significant mobility improvements for women in...,Women's empowerment,[additional data may be available]
3,Ivanov-Petrov (2024),2024,Gender-Based Inequalities in Sustainable Trans...,Holistic improvements in gender representation...,Mobility justice,[additional data may be available]
4,Ivanov-Petrov (2024),2024,Gender-Based Inequalities in Sustainable Trans...,Holistic improvements in gender representation...,Women's empowerment,[additional data may be available]

To transform the above literature review table into a network, using the categories from the `impact_cats` column, you can use the function `from_long_df()`. To do this, you must provide an `id_col`, which identifies to which document document each connection between categories belong to (in which document categories coexist). The `var_col` column contains the categories to be transformed into a Network.

The `from_long_df()` function returns a Network object, as the next cell shows.

In [ ]:
net = catnet.from_long_df(long_df,
                          id_col="publication",
                          var_col="impact_cats")

net

Network(nodelist cols: ['id', 'label']
	edgelist cols: ['id', 'source', 'target']
)

You can explore the edges and the nodes by accessing the `edgelist` and `nodelist` attributes of the `Network` class variable, as shown in the following code cells (note that the `head(5)` method is added to limit the code cell size and avoid saturation in this document):

In [4]:
net.edgelist.head(5)

                     id                 source                 target
0    Kumar-Reddy (2004)   Environmental impact  Decreased travel time
1    Kumar-Reddy (2004)   Environmental impact    Women's empowerment
2    Kumar-Reddy (2004)  Decreased travel time    Women's empowerment
3  Ivanov-Petrov (2024)       Mobility justice    Women's empowerment
4  Ivanov-Petrov (2024)       Mobility justice   LGBTQ+ accessibility

In [5]:
net.nodelist.head(5)

                        id                    label
0  Gender-neutral policies  Gender-neutral policies
1        Employment access        Employment access
2    Decreased travel time    Decreased travel time
3         Mobility justice         Mobility justice
4       Reduced gender gap       Reduced gender gap

Also, by using the method `with_weigths` of the `EdgeList` class, you can generate an edgelist table with weights:

In [9]:
net.edgelist.with_weights(ordered="descending").head(5)

                     source                       target  weight
3   Community participation         LGBTQ+ accessibility       3
41      Women's empowerment                 Equity focus       2
45      Women's empowerment         LGBTQ+ accessibility       2
44      Women's empowerment  Infrastructure improvements       2
43      Women's empowerment             Increased safety       2

### Example 2: Literature review data table with the categories contained in a single cell ("same_cell" data)

If your literature review table contains a list of categories inside the same cell, you have a "same_cell" data frame. The list of categories can use linebreaks ("\r\n"), hyphens used as bullet points ("- "), or semicolons (";") as list separators. The following cell preesents an example of this, using hyphens and linebreaks as separators (`impact_cats` column):

In [ ]:
same_cell_df = catnet.test_data("same_cell")

same_cell_df.head(5)

,publication,year,title,impact,impact_cats,other_info
0,Kumar-Reddy (2004),2005,The Role of Gender in Urban Mobility Sustainab...,Significant mobility improvements for women in...,- Environmental impact\r\n- Decreased travel t...,[additional data may be available]
1,Ivanov-Petrov (2024),2024,Gender-Based Inequalities in Sustainable Trans...,Holistic improvements in gender representation...,- Mobility justice\r\n- Women's empowerment\r\...,[additional data may be available]
2,Okafor-Ademola (2014),2006,Gendered Challenges in Accessing Public Transi...,Enhanced safety and inclusivity for queer indi...,- Improved access\r\n- Sustainable transport use,[additional data may be available]
3,Okafor-Ademola (2017),2018,Impact of Public Transportation on Gender Equi...,Gender-sensitive policies improved overall sat...,- Women's empowerment\r\n- Increased safety\r\...,[additional data may be available]
4,Tanaka-Sato (2016),2002,The Role of Gender in Urban Mobility Sustainab...,Reduction of gender-based mobility gaps in urb...,- Employment access\r\n- Infrastructure improv...,[additional data may be available]

To transform these literature review tables into category networks, you can use the `from_same_cell()` function, as following:

In [ ]:
net = catnet.from_same_cell(same_cell_df,
                            id_col="publication",
                            var_col="impact_cats",
                            sep="- ")

net

Network(nodelist cols: ['id', 'label']
	edgelist cols: ['id', 'source', 'target']
)

Like Example 1, you can inspect the edgelist and nodelist of the `Network` object:

In [21]:
net.edgelist.head(5)

                     id                 source                 target
0    Kumar-Reddy (2004)   Environmental impact  Decreased travel time
1    Kumar-Reddy (2004)   Environmental impact    Women's empowerment
2    Kumar-Reddy (2004)  Decreased travel time    Women's empowerment
3  Ivanov-Petrov (2024)       Mobility justice    Women's empowerment
4  Ivanov-Petrov (2024)       Mobility justice   LGBTQ+ accessibility

In [22]:
net.nodelist.head(5)

                        id                    label
0  Gender-neutral policies  Gender-neutral policies
1     Inclusivity measures     Inclusivity measures
2     LGBTQ+ accessibility     LGBTQ+ accessibility
3         Increased safety         Increased safety
4    Decreased travel time    Decreased travel time

## Export network to Gephi

You can export the `Network.edgelist` and `Network.nodelist` objects to .csv files ready to be used by Gephi. To do this, you can use the `Network.to_gephi()` method. This will produce a folder with the name you choose, following "_gephi", in the directory path you choose (`path` attribute of the method). Inside this folder, you will find a .csv for the edgelist and a .csv for the nodelist of your Network.

In [ ]:
net.to_gephi(name="literature_review")